/* Error: Undefined mixin.
 *    ,
 * 1  | / @include respond-to('mobile') {
 * 2  | |   .wrapper {
 * 3  | |     width: 325px;
 * 4  | |     padding: 0 15px;
 * 5  | | 
 * 6  | | 
 * 7  | |   }
 * 8  | |   .header__nav {
 * 9  | |     padding-top: 40px;
 * 10 | |     ul {
 * 11 | |       align-items: center;
 * 12 | |       gap: 8px;
 * 13 | |     }
 * 14 | |   }
 * 15 | | 
 * 16 | |   .header__nav_item {
 * 17 | |     a {
 * 18 | |       font-size: 11px;
 * 19 | |       display: flex;
 * 20 | |       align-items: center;
 * 21 | |     }
 * 22 | |   }
 * 23 | | 
 * 24 | |   .title__main {
 * 25 | |     font-size: 40px;
 * 26 | |     margin-bottom: 40px;
 * 27 | |     display: flex;
 * 28 | |   }
 * 29 | | 
 * 30 | |   .title__description {
 * 31 | |     font-size: 12px;
 * 32 | |   }
 * 33 | | 
 * 34 | |   .description--modified {
 * 35 | |     margin-bottom: 55px;
 * 36 | |   }
 * 37 | |   .title__button {
 * 38 | |     padding: 10px 20px 10px 20px;
 * 39 | |     width: 125px;
 * 40 | |     font-size: 12px;
 * 41 | |   }
 * 42 | |   .main__content_title {
 * 43 | |     font-size: 28px;
 * 44 | |   }
 * 45 | |   .main__content__description {
 * 46 | |     font-size: 12px;
 * 47 | |   }
 * 48 | | 
 * 49 | |   .project-block__content_item {
 * 50 | |     padding: 30px 10px 30px 10px;
 * 51 | |     gap: 4px;
 * 52 | | 
 * 53 | |   }
 * 54 | |   .project-block__content_item {
 * 55 | |     img {
 * 56 | |       width: 15px;
 * 57 | |       margin-left: 0;
 * 58 | |       padding-left: 0;
 * 59 | |     }
 * 60 | |   }
 * 61 | |   .project-block__content_item {
 * 62 | |     p {
 * 63 | |       font-size: 6px;
 * 64 | |     }
 * 65 | |   }
 * 66 | |   .main__video {
 * 67 | |     img {
 * 68 | |       max-width: 325px;
 * 69 | |       max-height: 175px;
 * 70 | |     }
 * 71 | |   }
 * 72 | |   .footer {
 * 73 | |     padding-top: 25px;
 * 74 | |     padding-bottom: 25px;
 * 75 | |   }
 * 76 | |   .footer__content {
 * 77 | |     width: 325px;
 * 78 | |   }
 * 79 | |   .footer__content {
 * 80 | |     h4 {
 * 81 | |       font-size: 12px;
 * 82 | |       font-weight: 300;
 * 83 | |       margin: 0;
 * 84 | |       padding-bottom: 5px;
 * 85 | |     }
 * 86 | |   }
 * 87 | |   .footer__content {
 * 88 | |     p {
 * 89 | |       font-size: 8px;
 * 90 | |       font-weight: 100;
 * 91 | |       margin: 0;
 * 92 | |     }
 * 93 | |   }
 * 94 | \ }
 *    '
 *   adaptation.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 1  \2502  \250c  @include respond-to('mobile') {\a 2  \2502  \2502    .wrapper {\a 3  \2502  \2502      width: 325px;\a 4  \2502  \2502      padding: 0 15px;\a 5  \2502  \2502  \a 6  \2502  \2502  \a 7  \2502  \2502    }\a 8  \2502  \2502    .header__nav {\a 9  \2502  \2502      padding-top: 40px;\a 10 \2502  \2502      ul {\a 11 \2502  \2502        align-items: center;\a 12 \2502  \2502        gap: 8px;\a 13 \2502  \2502      }\a 14 \2502  \2502    }\a 15 \2502  \2502  \a 16 \2502  \2502    .header__nav_item {\a 17 \2502  \2502      a {\a 18 \2502  \2502        font-size: 11px;\a 19 \2502  \2502        display: flex;\a 20 \2502  \2502        align-items: center;\a 21 \2502  \2502      }\a 22 \2502  \2502    }\a 23 \2502  \2502  \a 24 \2502  \2502    .title__main {\a 25 \2502  \2502      font-size: 40px;\a 26 \2502  \2502      margin-bottom: 40px;\a 27 \2502  \2502      display: flex;\a 28 \2502  \2502    }\a 29 \2502  \2502  \a 30 \2502  \2502    .title__description {\a 31 \2502  \2502      font-size: 12px;\a 32 \2502  \2502    }\a 33 \2502  \2502  \a 34 \2502  \2502    .description--modified {\a 35 \2502  \2502      margin-bottom: 55px;\a 36 \2502  \2502    }\a 37 \2502  \2502    .title__button {\a 38 \2502  \2502      padding: 10px 20px 10px 20px;\a 39 \2502  \2502      width: 125px;\a 40 \2502  \2502      font-size: 12px;\a 41 \2502  \2502    }\a 42 \2502  \2502    .main__content_title {\a 43 \2502  \2502      font-size: 28px;\a 44 \2502  \2502    }\a 45 \2502  \2502    .main__content__description {\a 46 \2502  \2502      font-size: 12px;\a 47 \2502  \2502    }\a 48 \2502  \2502  \a 49 \2502  \2502    .project-block__content_item {\a 50 \2502  \2502      padding: 30px 10px 30px 10px;\a 51 \2502  \2502      gap: 4px;\a 52 \2502  \2502  \a 53 \2502  \2502    }\a 54 \2502  \2502    .project-block__content_item {\a 55 \2502  \2502      img {\a 56 \2502  \2502        width: 15px;\a 57 \2502  \2502        margin-left: 0;\a 58 \2502  \2502        padding-left: 0;\a 59 \2502  \2502      }\a 60 \2502  \2502    }\a 61 \2502  \2502    .project-block__content_item {\a 62 \2502  \2502      p {\a 63 \2502  \2502        font-size: 6px;\a 64 \2502  \2502      }\a 65 \2502  \2502    }\a 66 \2502  \2502    .main__video {\a 67 \2502  \2502      img {\a 68 \2502  \2502        max-width: 325px;\a 69 \2502  \2502        max-height: 175px;\a 70 \2502  \2502      }\a 71 \2502  \2502    }\a 72 \2502  \2502    .footer {\a 73 \2502  \2502      padding-top: 25px;\a 74 \2502  \2502      padding-bottom: 25px;\a 75 \2502  \2502    }\a 76 \2502  \2502    .footer__content {\a 77 \2502  \2502      width: 325px;\a 78 \2502  \2502    }\a 79 \2502  \2502    .footer__content {\a 80 \2502  \2502      h4 {\a 81 \2502  \2502        font-size: 12px;\a 82 \2502  \2502        font-weight: 300;\a 83 \2502  \2502        margin: 0;\a 84 \2502  \2502        padding-bottom: 5px;\a 85 \2502  \2502      }\a 86 \2502  \2502    }\a 87 \2502  \2502    .footer__content {\a 88 \2502  \2502      p {\a 89 \2502  \2502        font-size: 8px;\a 90 \2502  \2502        font-weight: 100;\a 91 \2502  \2502        margin: 0;\a 92 \2502  \2502      }\a 93 \2502  \2502    }\a 94 \2502  \2514  }\a    \2575 \a   adaptation.scss 1:1  root stylesheet";
}
