* {
    font-family: Roboto, sans-serif;

}
.body_wrapper {
    width: 100%;
    background-color: #EEEFF1;
}
.wrapper {
    width: 1009px;
    margin: 0 auto;
}
.header__nav {
    padding-top: 80px;
}
.header__nav ul {
    display: flex;
    gap: 42px;
    list-style: none;
    padding-left: 0;
}
.header__nav_item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}
.title__content {
    margin-top: 165px;
    max-width: 540px;
    padding-bottom: 160px;
}
.title__main {
    font-size: 48px;
    font-weight: 550;
    margin-bottom: 60px;
}
.title__description {
    text-align: left;
    font-size: 16px;
    font-weight: 100;
}
.description--modified {
    margin-bottom: 75px;
}
.title__button {
    background-color: #34547A;
    padding: 20px 40px 20px 40px;
    width: 225px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content_title {
    font-size: 32px;
    padding-top: 112px;
    font-weight: 550;
}
.main__content__description {
    font-size: 16px;
    text-align: center;
    padding-bottom: 100px;
    font-weight: 100;
}
.project-block__content {
    background-color: #34547A;
    display: flex;
    justify-content: center;
}
.project__content {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    width: 100%;
}
.project-block__content_item {
    display: flex;
    padding: 100px 30px 100px 30px;
    align-items: center;
    gap: 20px;
}
.project-block__content_item p {
    color: white;
}
.main__video {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.footer {
    background-color: #34547A;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer__content {
    width: 1009px;
    margin: 0 auto;
    color: white;

}
.footer__content h4 {
    font-size: 21px;
    font-weight: 550;
}
.footer__content p {
    font-size: 13px;
    font-weight: 100;
}

@media (max-width: 480px) {
    .wrapper {
        width: 87%;
        padding: 0 15px;

    }
    .header__nav {
        padding-top: 40px;
    }
    .header__nav ul {
        align-items: center;
        gap: 11px;
    }

    .header__nav_item a {
        font-size: 11px;
        display: flex;
        align-items: center;
    }

    .title__main {
        font-size: 40px;
        margin-bottom: 40px;
        display: flex;
    }

    .title__description {
        font-size: 12px;
    }

    .description--modified {
        margin-bottom: 55px;
    }
    .title__button {
        padding: 10px 20px 10px 20px;
        width: 125px;
        font-size: 12px;
    }
    .main__content_title {
        font-size: 28px;
    }
    .main__content__description {
        font-size: 12px;
    }
    .project-block__content_item {
        padding: 30px 10px 30px 10px;
        gap: 10px;
    }
    .project-block__content_item img {
        width: 25px;
    }
    .project-block__content_item p {
        font-size: 10px;
    }
    .main__video img {
        max-width: 87%;
        max-height: 175px;
    }
    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .footer__content {
        width: 87%;
    }
    .footer__content h4 {
        font-size: 16px;
        font-weight: 350;
        margin: 0;
        padding-bottom: 5px;
    }
    .footer__content p {
        font-size: 8px;
        font-weight: 100;
        margin: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        width: 75%;
    }
    .header__nav {
        padding-top: 70px;
    }
    .header__nav ul {
        align-items: center;
        gap: 19px;
    }
    .title__button {
        padding: 15px 30px 15px 30px;
        width: 125px;
        font-size: 12px;
    }
    .project-block__content_item {
        padding: 30px;
        gap: 20px;
    }
    .project-block__content_item img {
        width: 35px;
    }
    .project-block__content_item p {
        font-size: 12px;
    }
    .main__video img {
        max-width: 75%;
        max-height: 300px;
    }
    .footer__content {
        width: 75%;
    }
    .footer__content h4 {
        font-size: 16px;
        font-weight: 350;
        margin: 0;
        padding-bottom: 5px;
    }
    .footer__content p {
        font-size: 8px;
        font-weight: 100;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        width: 70%;
        padding: 0 15px;
    }
    .header__nav ul {
        align-items: center;
        gap: 20px;
    }
    .project-block__content_item {
        padding: 50px 30px 50px 30px;
        gap: 20px;
    }
    .main__video img {
        max-width: 70%;
        max-height: 300px;
    }
    .footer__content {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
        width: 70%;
        padding: 0 15px;
    }
    .project-block__content_item {
        padding: 70px 30px 70px 30px;
        gap: 20px;
    }
    .main__video img {
        max-width: 70%;
        max-height: 400px;
    }
    .footer__content {
        width: 70%;
    }
}