@import "config";

* {
  font-family: Roboto, sans-serif;

}
.body_wrapper {
  width: 100%;
  background-color: $background-color;
    .wrapper {
      @include wrapper-size
    }
}
.header__nav {
  padding-top: 80px;
    ul {
      display: flex;
      gap: 42px;
      list-style: none;
      padding-left: 0;
    }
}
.header__nav_item {
  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
  }
}
.title__content {
  margin-top: 165px;
  max-width: 540px;
  padding-bottom: 160px;
}
.title__main {
  font-size: 48px;
  font-weight: 550;
  margin-bottom: 60px;
}
.title__description {
  text-align: left;
  font-size: 16px;
  font-weight: 100;
}
.description--modified {
  margin-bottom: 75px;
}
.title__button {
  background-color: $main-color1;
  padding: 20px 40px 20px 40px;
  width: 225px;
  text-decoration: none;
  color: $main-color2;
  font-weight: 100;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__content_title {
  font-size: 32px;
  padding-top: 112px;
  font-weight: 550;
}
.main__content__description {
  font-size: 16px;
  text-align: center;
  padding-bottom: 100px;
  font-weight: 100;
}
.project-block__content {
  background-color: $main-color1;
  display: flex;
  justify-content: center;
}
.project__content {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  width: 100%;
}
.project-block__content_item {
  display: flex;
  padding: 100px 30px 100px 30px;
  align-items: center;
  gap: 20px;
    p {
      color: $main-color2;
    }
}
.main__video {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.footer {
  background-color: $main-color1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__content {
  @include wrapper-size;
  color: $main-color2;

}
.footer__content {
  h4 {
    font-size: 21px;
    font-weight: 550;
  }
    p {
      font-size: 13px;
      font-weight: 100;
    }
}

@import "adaptation";